PORT= 3000
DB=//mogodb connection string
Activation_Secret = // your own activation secret
Password = //oath password
Gmail = //gmail
Jwt_Sec=//jwt security
GOOGLE_CLIENT_ID= //google client id
GOOGLE_CLIENT_SECRET= //google client secret
GOOGLE_REDIRECT_URI= //google redirect uri
GOOGLE_REFRESH_TOKEN= //google refresh token
GEMINI_API_KEY=//gemini api key